@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.App {
  text-align: center;
  background-color: #03A9F4;
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: Montserrat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-button {
  background-color: #8BC34A;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #00C853;
}

.login-button img {
  width: 20px;
}

.test button {
  width: 50px;
  height: 50px;
  margin: 50px;
}

.test button:nth-child(1) {
  background: #82B1FF;
}

.test button:nth-child(2) {
  background: #03a8f4;
}

.test button:nth-child(3) {
  background: #00E5FF;
}

.test button:nth-child(4) {
  background: #00C853;
}

.test button:nth-child(5) {
  background: #8BC34A;
}

.test button:nth-child(6) {
  background: white;
}

.test button:nth-child(7) {
  background: white;
}

.icon-firstLayer {
  position: absolute;
  top: 0;
  right: 0;
}

.redirection-button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 3em;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to bottom, #3f51b5, #2196f3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.redirection-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  animation: pulse 1s infinite;
}

.redirection-button:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.redirection-button::after {
  content: "→";
  margin-left: 0.5em;
  transition: all 0.2s ease-in-out;
}

.redirection-button:hover::after {
  transform: translateX(0.25em);
}

.redirection-button:active::after {
  transform: translateX(-0.25em);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.5);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(63, 81, 181, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.5);
  }
}

.canvas-container {
  width: 700px;
  height: auto;

}

canvas {
  width: 100%;
  height: 100%;
}

.main-layer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  padding: 20px;
  border-right: 5px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  padding: 20px;
  border-left: 5px solid #f2f2f2;
}

/* Estilos para el contenedor del cuadrado */
.square-container {
  max-width: 1100px;
  max-height: 1100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 columnas */
  grid-template-rows: repeat(4, 1fr);
  /* 5 filas */
  gap: 10px;
  /* Espacio entre los botones */
  background: rgba(0, 255, 79, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.57);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
}

/* Estilos para los botones */
.square-container button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease, background-color 0.2s ease;
  background: linear-gradient(45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}

.square-container button:hover {
  transform: translateY(-5px);  /*Levantar ligeramente*/
  color: black;
}
.BlackAndWhite{
  
  background-image: url('./assets//images/metroid_ii_final_boss__hd_by_billysan291-d2zahfk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.BlackAndWhite:hover{
  filter: grayscale(85%);
  transition: all 0.3s ease;

}



.MoreSaturate {
  width: 200px;
  height: 60px;
  background: linear-gradient(45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}


.MoreSaturate:hover {
  filter: saturate(250%);
  transform: scale(1.1);
  transition: all 0.3s ease;

}

.MoreSaturate:hover:before {
  opacity: 1;
}
.LessSaturate {
  width: 200px;
  height: 60px;
  background: linear-gradient(45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}

.LessSaturate:before {
  content: "";
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: all 0.3s ease;
}

.LessSaturate:hover {
  filter: saturate(50%);
  transform: scale(1.1);
}

.LessSaturate:hover:before {
  opacity: 1;
}

Colores para cada botón 
.square-container button:nth-child(1) {

}
.square-container button:nth-child(2) {
  background-color: #00ff00;
}
.square-container button:nth-child(3) {
  background-color: #0000ff;
}
.square-container button:nth-child(4) {
  background-color: #ffff00;
}
.square-container button:nth-child(5) {
  background-color: #00ffff;
}
.square-container button:nth-child(6) {
  background-color: #ff00ff;
}
.square-container button:nth-child(7) {
  background-color: #f0f0f0;
}
.square-container button:nth-child(8) {
  background-color: #555555;
}
.square-container button:nth-child(9) {
  background-color: #999999;
}
.square-container button:nth-child(10) {
  background-color: #cccccc;
}
.square-container button:nth-child(11) {
  background-color: #333333;
}
.square-container button:nth-child(12) {
  background-color: #666666;
}
.square-container button:nth-child(13) {
  background-color: #eeeeee;
}
.square-container button:nth-child(14) {
  background-color: #aaaaaa;
}
.square-container button:nth-child(15) {
  background-color: #777777;
}
.square-container button:nth-child(16) {
  background-color: #222222;
}
.square-container button:nth-child(17) {
  background-color: #dddddd;
}
.square-container button:nth-child(18) {
  background-color: #888888;
}
.square-container button:nth-child(19) {
  background-color: #bbbbbb;
}
.square-container button:nth-child(20) {
  background-color: #444444;
}

